#! /usr/bin/make -f

%:
	dh $@ --with=cli

override_dh_auto_build:
	xbuild $(CURDIR)/MediaBrowser.Mono.sln /p:Configuration="Release Mono" /p:Platform="Any Cpu" /property:OutputPath='$(CURDIR)/opt/emby' /t:build

override_dh_auto_clean:
	sed -i -e 's%<dllmap dll="CORE_RL_Wand_.dll" target="libMagickWand-6.Q8.so" os="linux"/>%<dllmap dll="CORE_RL_Wand_.dll" target="libMagickWand-6.Q8.so.2" os="linux"/>\n<dllmap dll="CORE_RL_magick_.dll" target="libMagickCore-6.Q8.so.2" os="linux"/>%' $(CURDIR)/MediaBrowser.Server.Mono/ImageMagickSharp.dll.config
	xbuild $(CURDIR)/MediaBrowser.Mono.sln /p:Configuration="Release Mono" /p:Platform="Any Cpu" /t:clean

override_dh_makeclilibs:
	rm debian/emby/opt/emby/Mono.Posix.dll 
	dh_makeclilibs 

override_dh_clideps:
	dh_clideps --exclude-moduleref=i:ole32 
