#!/usr/bin/make -f
export DH_VERBOSE=1
export DEB_BUILD_MAINT_OPTIONS = hardening=+all
export DEB_CFLAGS_MAINT_APPEND  = -g -O2 -Wall -W -pthread
export DEB_CXXFLAGS_MAINT_APPEND  = -g -O2 -Wall -W -pthread
export DEB_LDFLAGS_MAINT_APPEND = -lfreetype
PACKAGE = $(shell dh_listpackages)
TMP     = $(CURDIR)/debian/$(PACKAGE)

%:
	dh $@ --with autoreconf

override_dh_auto_configure:
	sed -i 's/libltdl.la/libltdl.so/g' configure
	./configure --prefix=/usr/lib/emby-server \
		--libdir=/usr/lib/emby-server/lib/$(DEB_HOST_MULTIARCH)/ \
		--with-includearch-dir=/usr/lib/emby-server/include/$(DEB_HOST_MULTIARCH)/ \
		--with-gs-font-dir=/usr/share/fonts/type1/gsfonts \
		--sysconfdir=/etc \
		--disable-installed \
		--disable-openmp \
		--disable-silent-rules \
		--disable-static \
		--enable-hdri=no \
		--enable-shared \
		--with-fontconfig \
		--with-jpeg=yes \
		--with-modules \
		--with-png=yes \
		--with-quantum-depth=8 \
		--with-tiff=yes \
		--with-webp=yes \
		--with-xml=yes \
		--without-djvu \
		--without-dps \
		--without-fpx \
		--without-gcc-arch \
		--without-gslib \
		--without-gvc \
		--without-magick-plus-plus \
		--without-openexr \
		--without-perl \
		--without-rsvg \
		--without-wmf \
		--without-x

override_dh_auto_build:
	sed -i -e 's/\(libname=\)\(MagickCore-\)/\1Emby\2/g' MagickCore/*
	sed -i -e 's/\(libname=\)\(MagickWand-\)/\1Emby\2/g' MagickWand/*
	sed -i -e 's/\(libMagickCore-\)\(.*\)\.la/libEmbyMagickCore-\2.la/' Makefile
	sed -i -e 's/\(libMagickWand-\)\(.*\)\.la/libEmbyMagickWand-\2.la/' Makefile
	sed -i -e '/PATH\ =/{s#lib/\(.*\)/ImageMagick-#lib/\1/EmbyMagick-#}' Makefile
	dh_auto_build

override_dh_auto_test:
	make check

override_dh_auto_install:
	dh_auto_install -- prefix=/usr/lib/emby-server
	rm -rf debian/$(PACKAGE)/usr/lib/emby-server/bin
	rm -rf debian/$(PACKAGE)/usr/lib/emby-server/include
	rm -rf debian/$(PACKAGE)/usr/lib/emby-server/share
	rm -rf debian/$(PACKAGE)/usr/lib/emby-server/lib/$(DEB_HOST_MULTIARCH)/pkgconfig/
	rm -rf debian/$(PACKAGE)/usr/lib/emby-server/lib/$(DEB_HOST_MULTIARCH)/*.a
	rm -rf debian/$(PACKAGE)/usr/lib/emby-server/lib/$(DEB_HOST_MULTIARCH)/*.la
	rm -rf debian/$(PACKAGE)/etc

override_dh_makeshlibs:
